@import "bower_components/flex-ui-bootstrap/bootstrap";
@import "bower_components/flex-ui-form/form";
@import "bower_components/bem/scss/bem";

@include b(navbar) {
	background-color: $color-light;
	position: relative;
	@include clearfix;
	min-height: 80px;

	@include e(brand) {
		text-transform: uppercase;
		vertical-align: middle;
		text-decoration: none;
		display: inline-block;
		color: $color-primary;
		font-size: rem(18px);
		padding: 20px 1.5em;
		font-weight: bold;
		line-height: 40px;
	}

	@include e(left) {
		float: left;
	}

	@include e(right) {
		margin-right: 1.5em;
		float: right;
	}

	@include e(list) {
		vertical-align: middle;
		display: inline-block;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	@include e(item) {
		vertical-align: middle;
		display: inline-block;
		line-height: 40px;
		padding: 20px 0;

		@include duo {
			margin-left: -4px;
		}
	}

	@include e(link) {
		color: darken($color-light, 25%);
		text-transform: uppercase;
		text-decoration: none;
		font-size: rem(11px);
		padding: 0 1em;
		display: block;

		@include hover {
			color: $color-primary;
		}

		@include m(tiny) {
			font-size: rem(15px);
			padding: 0 0.5em;
		}

		@include m(disc) {
			background-color: $color-primary;
			font-size: rem(11px);
			border-radius: 100%;
			text-align: center;
			line-height: 30px;
			overflow: hidden;
			margin: 0 0.3em;
			color: white;
			height: 30px;
			width: 30px;
			padding: 0;

			@include hover {
				color: darken($color-light, 5%);
			}
		}
	}

	@include e(form) {
		vertical-align: middle;
		display: inline-block;
	}

	@include m(inverse) {
		background-color: $color-inverse;

		@include e(brand) {
			color: lighten($color-inverse, 55%);
		}

		@include e(item) {
			@include is(active) {
				@include e(link) {
					color: lighten($color-inverse, 55%);
				}
			}
		}

		@include e(link) {
			color: lighten($color-inverse, 25%);

			@include hover {
				color: lighten($color-inverse, 40%);
			}

			@include m(disc) {
				background-color: lighten($color-inverse, 25%);
				color: $color-inverse;

				@include hover {
					color: lighten($color-inverse, 10%);
				}
			}
		}
	}
}